body {
font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
}

.header {
	background-color: #2F4F4F;
}

.footer {
	background-color: #2F4F4F;
	clear:both;
}

.fieldError {
  background-color: #ff8080;
}

/* --- タイトルロゴ --- */
.syslogo {
  width: 500px;
  margin: 0 auto;
  padding: 10px 0;
  font-family: sans-serif;
  font-size: 30px;
  color:#b6d2df;
}
.heading {
  margin: 10px 0
}
.demo0 .heading {
  position: relative;
  padding-left: 40px;
}
.demo0 .heading:before,
.demo0 .heading:after{
  content: "□";
  position: absolute;
  width:350px;
  height: 4px;
}
.demo0 .heading:before {
  left:0;
  top:-3px;
}
.demo0 .heading:after {
  left: 5.5px;
  top: 3.5px;
}

/* --- aspireロゴ --- */
.teamlogo {
  width: 500px;
  margin: 0 auto;
  padding: 10px 0;
  font-family: sans-serif;
  font-size: 20px;
  color:#b6d2df;
}

/* --- button共通レイアウト --- */
.submit input{
  font-family: Arial;
  color: #ffffff;
  font-size: 16px;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  text-decoration: none;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 8px 6px #e3e3e3;
  -moz-box-shadow: 0px 8px 6px #e3e3e3;
  box-shadow: 0px 8px 6px #e3e3e3;
  border: solid #f5fdff 4px;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#61c7e0), to(#418da8));
  background: -moz-linear-gradient(top, #61c7e0, #418da8);
  }
.submit input:hover{
  background: #37a4bf;
 }