img.icon1 {
	width: 5%;
	height: 5%;
}

.msg_inline_attachment_row  {
	    padding-top: 10px;
    padding-bottom: 10px;
}

.day_divider .day_divider_label {
    background: #fafafa;
    padding: .25rem .75rem;
    display: inline-block;
    margin: 0 auto;
    position: relative;
    opacity: 1;
    border-radius: 1rem;
    -webkit-transition: opacity 250ms ease-out 0s;
    -moz-transition: opacity 250ms ease-out 0s;
    transition: opacity 250ms ease-out 0s;
}


/*.message_gutter {
	text-align: right;
	position: absolute;
	top: 0;
	left: 0
}*/

.copy_only {
    display: -moz-inline-box;
    -moz-box-orient: vertical;
    display: inline-block;
    vertical-align: baseline;
    width: 1px;
    height: 0;
    background-size: 0;
    background-repeat: no-repeat;
    font-size: 0;
    color: transparent;
    float: left;
    text-rendering: auto;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    opacity: 0;
}

.day_divider {
    z-index: 200;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    text-align: center;
    font-weight: 700;
    font-size: .9rem;
}


.day_container {
	position: relative
}

.day_container .day_divider {
	margin: 0;
	pointer-events: none
}

.day_container .day_divider .day_divider_label {
	top: -6px
}

.day_container .day_msgs {
	margin: -18px 0 0;
	padding: 1.75rem 0 1.25rem;
	border-top: 1px solid #e8e8e8
}

.day_container.unread_day_container .day_msgs {
	border-color: #f26130
}

.day_container:last-child .day_msgs {
	padding-bottom: 1.05rem
}

.supports_sticky_position .day_divider {
	z-index: 200;
	position: -webkit-sticky;
	position: sticky;
	top: 0
}


#threads_msgs_scroller_div {
	font-size: 15px;
	background: #f9f9f9;
	height: calc(100% - 16px);
	margin-top: 8px;
	overflow-y: scroll
}

.message_pane_scroller {
	height: auto !important;
	flex: 1
}

#col_messages {
	margin-left: 0;
	position: relative;
	display: flex;
	flex: 1;
	flex-direction: column;
	min-width: 1px;
	box-shadow: inset 1px 0 0 0 #e8e8e8
}

#messages_container {
	flex: 1;
	outline: 0
}

#messages_container>.monkey_scroll_wrapper:not (#monkey_scroll_wrapper_for_unread_msgs_scroller_div
	 )>.monkey_scroll_bar {
	margin-top: 16px
}

#unread_msgs_scroller_div.transitioning:after {
	opacity: 1
}

#unread_msgs_scroller_div:after {
	opacity: 0;
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #fff;
	z-index: 100;
	-ms-pointer-events: none;
	-webkit-pointer-events: none;
	pointer-events: none;
	-webkit-transition: opacity .2s ease 0s;
	-moz-transition: opacity .2s ease 0s;
	transition: opacity .2s ease 0s
}

#unread_msgs_scroller_div:focus {
	outline: 0
}

#unread_msgs_scroller_div:before {
	display: none
}

.supports_custom_scrollbar.slim_scrollbar #unread_msgs_scroller_div::-webkit-scrollbar-thumb:hover
	{
	background-color: rgba(113, 114, 116, .8)
}

.supports_custom_scrollbar.slim_scrollbar #unread_msgs_scroller_div::-webkit-scrollbar-thumb
	{
	background-color: rgba(113, 114, 116, .5);
	background-clip: padding-box !important;
	border-radius: 3px;
	color: #717274;
	min-height: 36px
}

.supports_custom_scrollbar.slim_scrollbar #unread_msgs_scroller_div::-webkit-scrollbar
	{
	position: absolute;
	-webkit-appearance: none;
	width: 6px
}

.supports_custom_scrollbar:not (.slim_scrollbar )
	#unread_msgs_scroller_div::-webkit-scrollbar-corner {
	background: #fff
}

.supports_custom_scrollbar.slim_scrollbar #unread_msgs_scroller_div {
	margin-right: 2px
}

#unread_msgs_scroller_div {
	margin-top: 7px;
	overflow-y: scroll
}

.supports_custom_scrollbar:not (.slim_scrollbar )
	#unread_msgs_scroller_div {
	border-right: .25rem solid transparent
}

.supports_custom_scrollbar:not (.slim_scrollbar )
	#unread_msgs_scroller_div::-webkit-scrollbar {
	position: absolute;
	-webkit-appearance: none;
	width: 8px
}

.supports_custom_scrollbar:not (.slim_scrollbar )
	#unread_msgs_scroller_div::-webkit-scrollbar-thumb,
	.supports_custom_scrollbar:not (.slim_scrollbar )
	#unread_msgs_scroller_div::-webkit-scrollbar-track {
	background-clip: padding-box !important;
	border-radius: 3px;
	color: #fff
}

.supports_custom_scrollbar:not (.slim_scrollbar )
	#unread_msgs_scroller_div::-webkit-scrollbar-track {
	background: #f3f3f3;
	box-shadow: inset 0 -4px 0 0, inset 0 4px 0 0
}

.supports_custom_scrollbar:not (.slim_scrollbar )
	#unread_msgs_scroller_div::-webkit-scrollbar-thumb {
	background: #d9d9de;
	box-shadow: inset 0 -2px, inset 0 -3px, inset 0 2px, inset 0 3px;
	min-height: 36px
}

/* layout */
body, p, form, input {
	margin: 0
}

/*body {
	background-color: #2F4F4F;
	}*/
#form {
	width: 75%;
	margin: 10px 0% 1px 16%;
	padding: 20px;
	border: 1px solid #555;
}

form p {
	font-size: 14px;
}

.form-title {
	text-align: center;
}

.mail, .pass {
	margin-bottom: 20px;
}

input[type="email"], input[type="password"] {
	width: 300px;
	padding: 4px;
	font-size: 14px;
}

.submit {
	text-align: right;
}

/* font */
#form p {
	color: #077685;
	font-weight: bold;
}

#form .form-title {
	font-family: Arial;
	font-size: 2ß0px;
	color: #4eb4c2;
}

/* skin */
#form {
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0px 1px 10px #488a9e;
	-moz-box-shadow: 0px 1px 10px #488a9e;
	box-shadow: 0px 1px 10px #488a9e;
	border: solid #4eb4c2 1px;
	background: #fafafa;
}

#form .form-title {
	padding-bottom: 6px;
	border-bottom: 2px solid #4eb4c2;
	margin-bottom: 20px;
}

.submit input {
	font-family: Arial;
	color: #ffffff;
	font-size: 16px;
	padding-top: 10px;
	padding-right: 20px;
	padding-bottom: 10px;
	padding-left: 20px;
	text-decoration: none;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 0px 8px 6px #e3e3e3;
	-moz-box-shadow: 0px 8px 6px #e3e3e3;
	box-shadow: 0px 8px 6px #e3e3e3;
	border: solid #f5fdff 4px;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#61c7e0),
		to(#418da8));
	background: -moz-linear-gradient(top, #61c7e0, #418da8);
}

.submit input:hover {
	background: #37a4bf;
}

#message .inputarea {
	clear: both;
	padding-top: 10px;
}

#message .inputarea .userprof {
	clear: both;
	float: left;
	width: 90px;
	margin-right: 20px;
}

#message .inputarea .profname {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-size: 13px;
}

#message .inputarea textarea, #pmessage textarea {
	display: block;
	width: 420px;
	height: 3.5em;
	font-size: 16px;
	letter-spacing: 1px;
	padding: 10px;
	border: 1px #5b5b5b solid;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	overflow-y: hidden;
}

#message div.submit input, #pmessage div.submit2 input {
	display: block;
	border: 0;
	margin: 5px 180px;
	height: 25px;
	width: 200px;
	font-size: 12px;
	font-family: "Meiryo";
	color: #201e1a;
	font-weight: bold;
	background: transparent url('submit.gif') 0px 0px no-repeat;
}

#pmessage div.submit2 input {
	background: transparent url('submit2.png') 0px 0px no-repeat;
}
/* --------------------------ここまで---------------------------- */
