#side {
	float: left;
	margin: 1px 20px 1px 1px;
	width: 15%;
	height: 490px;
}

#side_header {
	height: 26px;
	padding: 4px 0px 0px 0px;
	background-repeat: no-repeat;
	background-position: top;
	background-color: #2F4F4F;
	font-size: 90%;
	font-weight: bold;
	text-align: center;
	font-family: sans-serif;
	color: #b6d2df;
}

#side_body {
	margin: 0px 0px 10px 0px;
	padding: 0px 0px 6px 0px;
	background-repeat: no-repeat;
	background-position: bottom;
	background-color: #2F4F4F;
	font-family: sans-serif;
	color: #b6d2df;
}

ul#side_body li {
	padding: 0px 0px 6px 0px;
	font-size: 90%; /*文字サイズを90%にする*/
	list-style-type: none; /*リストマーカー無しにする*/
	display: inline; /*リスト項目をインライン表示にする*/
}

ul#side_body li a {
	display: block; /*リンクをブロック表示にする*/
	margin: 0px 2px 1px 2px; /*サブメニュー項目のマージン*/
	padding: 2px 0px 2px 2px; /*サブメニュー項目のパディング*/
	background-color: #408080; /*サブメニュー項目の背景色*/
	text-decoration: none; /*リンクの下線を無くす*/
}

ul#side_body li a:hover {
	background-color: #ffffff; /*リンクにマウスが乗ったら色を変える*/
}

img.icon {
	width: 10%;
	height: 10%;
}

#main {
	float: left;
}

#bottom {
	clear: both;
}