<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link href="/css/base.css" th:href="@{/css/base.css}" rel="stylesheet"></link>
<link href="/css/sideMenu.css" th:href="@{/css/sideMenu.css}"
	rel="stylesheet"></link>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="/js/base.js" th:src="@{/js/base.js}"></script>
<title>thymeleaf base</title>
</head>
<body>
	<!-- header -->
	<header class="header">
		<div class="syslogo demo0">
			<div align="center" class="heading">ACT SNS</div>
		</div>
	</header>

	<!-- contents -->
	<div id="side">
		<div id="side_header">Ｍｅｎｕ</div>
		<ul id="side_body">
			<li><a href="userReg" id="userRegist"><img alt="syoutai"
					th:src="@{/img/userregist.jpg}" class="icon"></img>ユーザ登録</a></li>
			<li><a href="userReg"><img alt="syoutai"
					th:src="@{/img/userinvite.jpg}" class="icon"></img>ユーザ招待</a></li>
			<li><a href="login"><img alt="syoutai"
					th:src="@{/img/mypage.jpg}" class="icon"></img>マイページ</a></li>
			<li><a href="chat"><img alt="syoutai"
					th:src="@{/img/chat.jpg}" class="icon"></img>チャット</a></li>
		</ul>
	</div>
	<div layout:fragment="content" id="main">Contents is here!</div>

	<!-- footer -->
	<footer class="footer">
		<div class="teamlogo" align="center">created by Aspire</div>
	</footer>
</body>
</html>