<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="base">
<head>
<link href="/css/material.css" th:href="@{/css/material.css}"
	rel="stylesheet"></link>
<title>Act SNS</title>
</head>
<body>
	<div id="form" layout:fragment="content">
		<!-- コンテンツ内容 ここから -->
		<form th:action="@{/chatList}" th:object="${form}" method="post">
			<table>
				<caption>ChatList</caption>
				<thead>
					<tr>
						<th scope="col">Chat Name</th>
						<th scope="col">summary</th>
						<th scope="col">joiner</th>
						<th scope="col">last post</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><a th:href="@{/}">Aspire_Room</a></td>
						<td scope="row">Aspireチーム雑談所</td>
						<td>f.kohiyama</td>
						<td>03/01/2016</td>
					</tr>
					<tr>
						<td><a th:href="@{/}">IT_chat</a></td>
						<td scope="row">連動試験打ち合わせ部屋</td>
						<td></td>
						<td>03/01/2016</td>
					</tr>
					<tr>
						<td><a th:href="@{/}">memorandum</a></td>
						<td scope="row">備忘録</td>
						<td></td>
						<td>03/01/2016</td>
					</tr>
				</tbody>
			</table>
			<p>
				<a th:href="@{/}">create chat!</a>
			</p>
		</form>
		<!-- コンテンツ内容 ここまで -->
	</div>
</body>
</html>