<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="base">
<head>
<link href="/css/chat.css" th:href="@{/css/chat.css}" rel="stylesheet"></link>
<title>Act SNS Chat</title>
</head>
<body>
	<div id="form" layout:fragment="content">
		<!-- コンテンツ内容 ここから -->
		<p class="form-title">チャット</p>
		<form th:action="@{/chat}" th:object="${form}" method="post">


			<div id="col_messages">

				<div id="messages_container" role="main">

					<!-- 実験 -->
					<div class="day_container">
						<div class="day_divider" id="day_divider_1507573307_000265"
							data-date="October 10th, 2017" data-ts="1507573307.000265">
							<i class="copy_only"><br>----- </i>
							<div class="day_divider_label" aria-label="October 10th">Tuesday,
								October 10th</div>
							<i class="copy_only"> -----</i>
						</div>

						<div class="day_msgs" data-date="October 10th, 2017"
							data-ts="1507573307.000265">
							<ts-message id="msg_1507573307_000265"
								data-ts="1507573307.000265" data-model-ob-id="C4V3PGU8Z"
								data-member-id="" data-app-id="A0F7VRDPE"
								data-bot-id="B5Z7GRTK6"
								class="message bot_message feature_fix_files is_app first"
								data-selectable="true" tabindex="-1"> <span
								class="is_pinned_holder"></span>



							<div class="message_gutter">
								<div class="message_icon">
									<a class="app_preview_link  "> <img style="border: 0"
										alt="syoutai" th:src="@{/img/chat.jpg}" class="icon1"></img></a>
								</div>
								<div class="message_content">
									<a href="/archives/C4V3PGU8Z/p1507573307000265"
										target="new_1507742629614"
										class="timestamp ts_tip ts_tip_top ts_tip_float ts_tip_hidden ts_tip_multiline ts_tip_delay_300"><i
										class="copy_only">[</i>11:21 AM<i class="copy_only">]</i><span
										class="ts_tip_tip"><span class="ts_tip_multiline_inner">Oct&nbsp;10th&nbsp;at&nbsp;11:21:47&nbsp;AM</span></span></a>

									<span class="message_star_holder">
										<button type="button" data-msg-id="1507573307.000265"
											data-c-id="C4V3PGU8Z"
											class="star ts_icon ts_icon_star_o ts_icon_inherit ts_tip_top star_message ts_tip ts_tip_multiline ts_tip_float ts_tip_hidden btn_unstyle">
											<span class="ts_tip_tip"> <span
												class="ts_tip_multiline_inner"
												data-tip-toggle-auto="Unstar this message"> このメッセージに返信 </span>
											</span>
										</button>
									</span>

									<div class="message_content">


										<span class="message_body">



											<div class="attachment_group has_border">


												<div class="inline_attachment standalone"
													data-attachment-id="1">


													<div class="msg_inline_attachment_column column_border"
														style="background-color: #3572B0;"></div>



													<div class="msg_inline_attachment_column column_content">



														<div
															class="msg_inline_attachment_row attachment_flush_text">

															<code class="special_formatting"
																data-stringify-prefix="`" data-stringify-suffix="`"
																data-stringify-requires-siblings="">

															</code>
															&nbsp;画面遷移処理追加 レイアウトを少しだけブラッシュアップ - yamamoto

														</div>
													</div>
												</div>


											</div> <span class="constrain_triple_clicks"></span>
										</span>

										<div
											class="rxn_panel rxns_key_message-1507573307_000265-C4V3PGU8Z"></div>
										<i class="copy_only"><br></i>

									</div>

									<div
										class="action_hover_container stretch_btn_heights narrow_buttons"
										data-js="action_hover_container" data-show_rxn_action="true"
										data-show_reply_action="true" data-show_comment_action="">
										<button type="button" data-action="reaction"
											class="btn_unstyle btn_msg_action ts_icon ts_icon_small_reaction ts_tip ts_tip_top ts_tip_float ts_tip_delay_60 ts_tip_hidden"
											aria-label="Add reaction …">
											<span class="ts_tip_tip">Add reaction …</span>
										</button>
										<button type="button" data-action="actions_menu"
											class="btn_unstyle btn_msg_action ts_icon ts_icon_small_ellipsis ts_tip ts_tip_top ts_tip_float ts_tip_delay_60 ts_tip_hidden"
											aria-label="Show message actions">
											<span class="ts_tip_tip">Show message actions</span>
										</button>
									</div>
							</ts-message>
						</div>
					</div>
					<!-- 実験おわり -->
										<!-- 実験 -->
					<div class="day_container">
						<div class="day_divider" id="day_divider_1507573307_000265"
							data-date="October 10th, 2017" data-ts="1507573307.000265">
							<i class="copy_only"><br>----- </i>
							<div class="day_divider_label" aria-label="October 10th">Tuesday,
								October 10th</div>
							<i class="copy_only"> -----</i>
						</div>

						<div class="day_msgs" data-date="October 10th, 2017"
							data-ts="1507573307.000265">
							<ts-message id="msg_1507573307_000265"
								data-ts="1507573307.000265" data-model-ob-id="C4V3PGU8Z"
								data-member-id="" data-app-id="A0F7VRDPE"
								data-bot-id="B5Z7GRTK6"
								class="message bot_message feature_fix_files is_app first"
								data-selectable="true" tabindex="-1"> <span
								class="is_pinned_holder"></span>



							<div class="message_gutter">
								<div class="message_icon">
									<a class="app_preview_link  "> <img style="border: 0"
										alt="syoutai" th:src="@{/img/chat.jpg}" class="icon1"></img></a>
								</div>
								<div class="message_content">
									<a href="/archives/C4V3PGU8Z/p1507573307000265"
										target="new_1507742629614"
										class="timestamp ts_tip ts_tip_top ts_tip_float ts_tip_hidden ts_tip_multiline ts_tip_delay_300"><i
										class="copy_only">[</i>11:54 AM<i class="copy_only">]</i><span
										class="ts_tip_tip"><span class="ts_tip_multiline_inner">Oct&nbsp;10th&nbsp;at&nbsp;11:54:47&nbsp;AM</span></span></a>

									<span class="message_star_holder">
										<button type="button" data-msg-id="1507573307.000265"
											data-c-id="C4V3PGU8Z"
											class="star ts_icon ts_icon_star_o ts_icon_inherit ts_tip_top star_message ts_tip ts_tip_multiline ts_tip_float ts_tip_hidden btn_unstyle">
											<span class="ts_tip_tip"> <span
												class="ts_tip_multiline_inner"
												data-tip-toggle-auto="Unstar this message"> このメッセージに返信 </span>
											</span>
										</button>
									</span>

									<div class="message_content">


										<span class="message_body">



											<div class="attachment_group has_border">


												<div class="inline_attachment standalone"
													data-attachment-id="1">


													<div class="msg_inline_attachment_column column_border"
														style="background-color: #3572B0;"></div>



													<div class="msg_inline_attachment_column column_content">



														<div
															class="msg_inline_attachment_row attachment_flush_text">

															<code class="special_formatting"
																data-stringify-prefix="`" data-stringify-suffix="`"
																data-stringify-requires-siblings="">

															</code>
															&nbsp;テストメッセージブロック - yamamoto

														</div>
													</div>
												</div>


											</div> <span class="constrain_triple_clicks"></span>
										</span>

										<div
											class="rxn_panel rxns_key_message-1507573307_000265-C4V3PGU8Z"></div>
										<i class="copy_only"><br></i>

									</div>

									<div
										class="action_hover_container stretch_btn_heights narrow_buttons"
										data-js="action_hover_container" data-show_rxn_action="true"
										data-show_reply_action="true" data-show_comment_action="">
										<button type="button" data-action="reaction"
											class="btn_unstyle btn_msg_action ts_icon ts_icon_small_reaction ts_tip ts_tip_top ts_tip_float ts_tip_delay_60 ts_tip_hidden"
											aria-label="Add reaction …">
											<span class="ts_tip_tip">Add reaction …</span>
										</button>
										<button type="button" data-action="actions_menu"
											class="btn_unstyle btn_msg_action ts_icon ts_icon_small_ellipsis ts_tip ts_tip_top ts_tip_float ts_tip_delay_60 ts_tip_hidden"
											aria-label="Show message actions">
											<span class="ts_tip_tip">Show message actions</span>
										</button>
									</div>
							</ts-message>
						</div>
					</div>
					<!-- 実験おわり -->

					<div id="unread_msgs_scroller_div" class="message_pane_scroller"></div>
				</div>
			</div>
		</form>
		<!-- コンテンツ内容 ここまで -->
	</div>
</body>
</html>