<html xmlns           ="http://www.w3.org/1999/xhtml"
      xmlns:th        ="http://www.thymeleaf.org"
      xmlns:layout    ="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="base">
<head>
    <link href="/css/login.css" th:href="@{/css/login.css}" rel="stylesheet"></link>
    <script type="text/javascript" src="/js/login.js" th:src="@{/js/login.js}"></script>
    <title>Act SNS</title>
</head>
<body>
    <div id="form" layout:fragment="content">
        <!-- コンテンツ内容 ここから -->
        <p class="form-title">ログイン</p>
		<form th:action="@{/chatList}" th:object="${form}" method="post">
		  <p>ID</p>
		  <p class="userId"><input type="text" th:field="*{id}" th:errorclass="fieldError" /><p>
		      <p th:if="${#fields.hasErrors('id')}" th:errors="*{id}"
		        style="color: red"></p>
		  <p>パスワード</p>
		      <p class="pass">
		        <input type="text" type="password" th:field="*{pass}" th:errorclass="fieldError" />
		      </p>
		      <p th:if="${#fields.hasErrors('pass')}" th:errors="*{pass}"
		        style="color: red"></p>
			<p class="check"><input type="checkbox" name="checkbox" />パスワードを保存</p>
		  <p class="submit"><input type="submit" value="ログイン" /></p>
		  <hr/>
		  <p class="userRegLink"><a th:href="@{/userReg}">新規登録はこちら</a></p>
		</form>
        <!-- コンテンツ内容 ここまで -->
    </div>
</body>
</html>