<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="base">
<head>
	<title>Act SNS</title>
	<script type="text/javascript" src="/js/jquery-3.2.1.min.js" th:src="@{/js/jquery-3.2.1.min.js}"></script>
	<script type="text/javascript" src="/js/sideMenu.js" th:src="@{/js/sideMenu.js}"></script>
    <link href="/css/sideMenu.css" th:href="@{/css/sideMenu.css}" rel="stylesheet"></link>
    <link href="/css/material.css" th:href="@{/css/material.css}" rel="stylesheet"></link>
</head>
<body>
	<div layout:fragment="content">
		<!-- コンテンツ内容 ここから -->
		<div id="side">
			<div id="side_header">メニュー</div>
			<ul id = "side_body">
				<li><a href="#" id ="userRegist"><img alt="syoutai" th:src="@{/img/userregist.jpg}" class ="icon"></img>ユーザ登録</a></li>
				<li><a href="login.html"><img alt="syoutai" th:src="@{/img/userinvite.jpg}" class ="icon"></img>ユーザ招待</a></li>
				<li><a href="login.html"><img alt="syoutai" th:src="@{/img/mypage.jpg}" class ="icon"></img>マイページ</a></li>
				<li><a href="login.html"><img alt="syoutai" th:src="@{/img/chat.jpg}" class ="icon"></img>チャット</a></li>
			</ul>
		</div>
		<form th:action="@{/sideMenu}" th:object="${form}" method="post">
			<div id="main">
			<div th:include="/chatList :: common_div"></div>
				<table>
					<tr>
						<td>ID：</td>
						<td><input type="text" th:field="*{id}" th:errorclass="fieldError" /></td>
						<td th:if="${#fields.hasErrors('id')}" th:errors="*{id}" style="color: red"></td>
					</tr>
					<tr>
						<td>パスワード：</td>
						<td><input type="text" th:field="*{pass}" th:errorclass="fieldError" /></td>
						<td th:if="${#fields.hasErrors('pass')}" th:errors="*{pass}" style="color: red"></td>
					</tr>
				</table>
				<input type="submit" value="送信" />
				<input type="text" id="test" value="変更前" />
				<script>koshin();</script>
			</div>
			<!--<div id="bottom">横並びにしたくない要素（フッター等）</div>-->
		</form>
		<!-- コンテンツ内容 ここまで -->
	</div>
</body>
</html>