<html xmlns           ="http://www.w3.org/1999/xhtml"
      xmlns:th        ="http://www.thymeleaf.org"
      xmlns:layout    ="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="base">
<head>
    <link href="/css/login.css" th:href="@{/css/login.css}" rel="stylesheet"></link>
    <script type="text/javascript" src="/js/login.js" th:src="@{/js/login.js}"></script>
    <title>Act SNS</title>
</head>
<body>
    <div id="form" layout:fragment="content">
        <!-- コンテンツ内容 ここから -->
        <p class="form-title">ユーザー登録</p>
		<form th:action="@{/userReg}" th:object="${form}" method="post">
		  <p>新しいID</p>
		  <p class="userId"><input type="text" th:field="*{newId}" th:errorclass="fieldError" /><p>
		      <p th:if="${#fields.hasErrors('newId')}" th:errors="*{newId}"
		        style="color: red"></p>
		  <p>新しいパスワード</p>
		      <p class="pass">
		        <input type="text" type="password" th:field="*{newPass}" th:errorclass="fieldError" />
		      </p>
		      <p th:if="${#fields.hasErrors('newPass')}" th:errors="*{newPass}"
		        style="color: red"></p>
		  <p>確認用パスワード</p>
		      <p class="pass">
		        <input type="text" type="password" th:field="*{newPass}" th:errorclass="fieldError" />
		      </p>
		      <p th:if="${#fields.hasErrors('newPass')}" th:errors="*{newPass}"
		        style="color: red"></p>
		  <p>メールアドレス</p>
		      <p class="mailaddress">
		        <input type="text" type="email" th:field="*{mailAddress}" th:errorclass="fieldError" />
		      </p>
		      <p th:if="${#fields.hasErrors('mailAddress')}" th:errors="*{newPass}"
		        style="color: red"></p>
		  <p class="submit"><input type="submit" value="登録" /></p>
		  <hr/>
		  <p class="userRegLink"><a th:href="@{/login}">ログインはこちら</a></p>
		</form>
        <!-- コンテンツ内容 ここまで -->
    </div>
</body>
</html>